body {
  background-color: rgb(255, 255, 255);
}

.titles {
  font-family: sans-serif;
  font-size: 18px;
}

.nameSurname input, .phones input, .CPFRG input, .passport input {
  display: block;
  width: 250px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #d7dce5;
}

.email input {
  display: block;
  width: 515px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #d7dce5;
}

input:focus {
  border-color: cadetblue;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.destination select {
  display: block;
  height: 22px;
  width: 258px;
  
}

.passport select {
  display: block;
  width: 70px;
}

#day {
  width: 50px;
}

#month {
  width: 128px;
}

#year {
  width: 80px;
}

.field {
  display: flex;
  height:22px;
}

.mainInfo {
  padding-right: 10%;
}

.mainDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.nameSurname, .phones, .CPFRG, .passport {
  display: flex;
  justify-content: flex-start;
}

.nameField, .phone1Field, .cpfField, .passportField {
  padding-right: 10px;
}

.submit {
  display: flex;
  float: right;
}

#selectDestinationButton {
  margin-top: 10px;
}

table{
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #d7dce5;
  border-style: groove;
}

.countryTd {
  width: 65px;
  border-right: 1px solid #d7dce5;
  border-bottom: 1px solid #d7dce5;
}

.cityTd {
  width: 300px;
  padding-left: 5px;
  border-bottom: 1px solid #d7dce5;
}
