body {
    background-color: rgb(230, 230, 198);
  }

.field label{
    display: inline-block;
    margin-bottom: 5px;
}

.field input {
    display: block;
  }

.rightForm {
  display: inline-block;
}

.leftForm {
  display: inline-block;
  padding-right: 10%;
}

.mainDiv {
  display: flex;
  justify-content: center;
}